<a href="https://colab.research.google.com/github/LuisAntonioDoHer/Movies_data_analysis/blob/main/Movies_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Import libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

## Create Dataframe

In [10]:
df = pd.read_csv('/content/movies.csv')
df.head(5)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

##Cleaning data

In [11]:
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [13]:
df.drop(columns = ['imdb_id','cast','homepage','director', 'tagline', 'keywords', 'overview', 'genres', 'production_companies'], inplace = True )

In [18]:
df.head(25)

,id,popularity,budget,revenue,original_title,runtime,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,32.985763,150000000,1513528810,Jurassic World,124,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,150000000,378436354,Mad Max: Fury Road,120,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,110000000,295238201,Insurgent,119,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,136,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,190000000,1506249360,Furious 7,137,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
5,281957,9.110700,135000000,532950503,The Revenant,156,12/25/15,3929,7.2,2015,1.241999e+08,4.903142e+08
6,87101,8.654359,155000000,440603537,Terminator Genisys,125,6/23/15,2598,5.8,2015,1.425999e+08,4.053551e+08
7,286217,7.667400,108000000,595380321,The Martian,141,9/30/15,4572,7.6,2015,9.935996e+07,5.477497e+08
8,211672,7.404165,74000000,1156730962,Minions,91,6/17/15,2893,6.5,2015,6.807997e+07,1.064192e+09
9,150540,6.326804,175000000,853708609,Inside Out,94,6/9/15,3935,8.0,2015,1.609999e+08,7.854116e+08
10,206647,6.200282,245000000,880674609,Spectre,148,10/26/15,3254,6.2,2015,2.253999e+08,8.102203e+08
11,76757,6.189369,176000003,183987723,Jupiter Ascending,124,2/4/15,1937,5.2,2015,1.619199e+08,1.692686e+08
12,264660,6.118847,15000000,36869414,Ex Machina,108,1/21/15,2854,7.6,2015,1.379999e+07,3.391985e+07
13,257344,5.984995,88000000,243637091,Pixels,105,7/16/15,1575,5.8,2015,8.095996e+07,2.241460e+08
14,99861,5.944927,280000000,1405035767,Avengers: Age of Ultron,141,4/22/15,4304,7.4,2015,2.575999e+08,1.292632e+09
15,273248,5.898400,44000000,155760117,The Hateful Eight,167,12/25/15,2389,7.4,2015,4.047998e+07,1.432992e+08
16,260346,5.749758,48000000,325771424,Taken 3,109,1/1/15,1578,6.1,2015,4.415998e+07,2.997096e+08
17,102899,5.573184,130000000,518602163,Ant-Man,115,7/14/15,3779,7.0,2015,1.195999e+08,4.771138e+08
18,150689,5.556818,95000000,542351353,Cinderella,112,3/12/15,1495,6.8,2015,8.739996e+07,4.989630e+08
19,131634,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,136,11/18/15,2380,6.5,2015,1.471999e+08,5.984813e+08
20,158852,5.462138,190000000,209035668,Tomorrowland,130,5/19/15,1899,6.2,2015,1.747999e+08,1.923127e+08
21,307081,5.337064,30000000,91709827,Southpaw,123,6/15/15,1386,7.3,2015,2.759999e+07,8.437300e+07
22,254128,4.907832,110000000,470490832,San Andreas,114,5/27/15,2060,6.1,2015,1.012000e+08,4.328514e+08
23,216015,4.710402,40000000,569651467,Fifty Shades of Grey,125,2/11/15,1865,5.3,2015,3.679998e+07,5.240791e+08
24,318846,4.648046,28000000,133346506,The Big Short,130,12/11/15,1545,7.3,2015,2.575999e+07,1.226787e+08
25,177677,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,131,7/23/15,2349,7.1,2015,1.379999e+08,6.277435e+08
26,214756,4.564549,68000000,215863606,Ted 2,115,6/25/15,1666,6.3,2015,6.255997e+07,1.985944e+08
27,207703,4.503789,81000000,403802136,Kingsman: The Secret Service,130,1/24/15,3833,7.6,2015,7.451997e+07,3.714978e+08
28,314365,4.062293,20000000,88346473,Spotlight,128,11/6/15,1559,7.8,2015,1.839999e+07,8.127872e+07
29,294254,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,132,9/9/15,1849,6.4,2015,5.611998e+07,2.863562e+08

In [19]:
df.isnull().sum()

id                0
popularity        0
budget            0
revenue           0
original_title    0
runtime           0
release_date      0
vote_count        0
vote_average      0
release_year      0
budget_adj        0
revenue_adj       0
dtype: int64